Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [4]:
string = 'anmol'
listt = ['anmol','alakh','subh']
floaat = 3.00
tupl = (1,2,3,4)
print(type(string))
print(type(listt))
print(type(floaat))
print(type(tupl))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1. 

What will be the data type of the above given variable.

ANSWER] var1 is string type
        var2 is string type
        var3 is list type
        var4 is float type

In [6]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

ANSWER]
    / is used for division operation,
    % is modulo operation and used to return remainder,
    // is floor division method which is used to return quotient,
    ** is a exponential function,which raises the left operand to right operand and return the result .

In [12]:
a=10
b=2
print(a/b)
print(a%b)
print(a//b)
print(a**b)

5.0
0
5
100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [19]:
list1 = [1,2,3,4.0,5+2j,7,'anmol','subh',[1,2,3],(4,5,6)]
for i in list1:
    print("Element : ",i," and its data type is ", type(i))

Element :  1  and its data type is  <class 'int'>
Element :  2  and its data type is  <class 'int'>
Element :  3  and its data type is  <class 'int'>
Element :  4.0  and its data type is  <class 'float'>
Element :  (5+2j)  and its data type is  <class 'complex'>
Element :  7  and its data type is  <class 'int'>
Element :  anmol  and its data type is  <class 'str'>
Element :  subh  and its data type is  <class 'str'>
Element :  [1, 2, 3]  and its data type is  <class 'list'>
Element :  (4, 5, 6)  and its data type is  <class 'tuple'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [23]:
A = 120
B = 5

count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print("A is divisible by B",count,"times.")
else:
    print("A is not divisible by B.")

A is divisible by B 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [27]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
for i in my_list:
    if(i%3==0):
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

ANSWER]  Immutable data types are those whose values cannot be modified once they are assigned. 
Any attempt to change the value of an immutable object can throug a error.
Examples of immutable data types in Python include integers, floats, booleans, strings, and tuples.
mutable data types allow modifications to their values after they are created. 
Changes made to a mutable object are reflected in the same object, without creating a new object.
Examples of mutable data types in Python include lists, dictionaries, and sets.

Below given a example in which an error is encountered when i try to change the element which show that it is immutable

In [30]:
a = 'anmol'
print(a)
a[1]='s'

anmol

TypeError: 'str' object does not support item assignment

below given the example in which we change the element of mutable object

In [31]:
a = [1,2,3,4,5]
print(a)
a[2]= 10
print(a)

[1, 2, 3, 4, 5]
[1, 2, 10, 4, 5]